:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}

body {
    font-family: Roboto, Raleway, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

/* Хедер */

/* logo */
.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}

.accent-logo {
    color: var(--accent-color);
}

/* site nav */
.nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav .link.current {
    color: var(--accent-color)
}

.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
}

/* контакти */
.contacts-header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-header .link {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-color: #2F303A;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

/* кнопка */

.btn {
    border-radius: 4px;
    border: 0;
}

.hero .btn {
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* переваги компанії */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.features-title {
    line-height: 1.14;
    text-transform: uppercase;
}

.features-description {
    color: var(--secondary-text-color);
    line-height: 1.71;
}


/* Чим ми займаємось */


/* Команда */

.team-name {
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
}

.team-position {
    color: var(--secondary-text-color);
    line-height: 1.17;
    text-align: center;
}

/* Футер */
.page-footer {
    background-color: #2F303A;
}

.footer-logo {
    color: var(--primary-white-color);
}

.address-footer .address-map {
    font-style: normal;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.address-email,
.address-tel {
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF99;
}

.footer-logo:hover,
.footer-logo:focus,
.address-map:hover,
.address-map:focus,
.address-email:focus,
.address-email:hover,
.address-tel:focus,
.address-tel:hover {
    color: var(--accent-color)
}


/* Портфоліо */

/* Фільтр портфоліо */

.portfolio-filter .btn {
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus {
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-type {
    line-height: 1.88;
    color: var(--secondary-text-color);
}